body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.card {
    width: 600px;
    margin: 0 auto;
    margin-top: 20px;
    padding: 20px;
    padding-top: 10px;
    background-color: #7094e0;
}

.title {
    margin: 0 auto;
    margin-bottom: 10px;
    text-align: center;
}

.list {
    text-align: center;
}

.ulist {
    text-align: center;
    display: inline-block;
    color: white;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    background-color: blue;
}

/* Recipe subpages */

img {
    display: block;
    margin: 0 auto;
}

.rlist {
    text-align: center;
    display: block;
    list-style-type: none;
    font-style: italic;
}